<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/football"
        android:label="@string/app_name"
        android:roundIcon="@drawable/football"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.HomeFavoriteActivity"  android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.HomeSearchActivity"  android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ui.detail.DetailTimActivity" />
        <activity android:name=".ui.klasemen.KlasemenActivity" />
        <activity
            android:name=".ui.Dashboard"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.favorite.FavoriteActivity"
            android:parentActivityName=".ui.Dashboard" />

        <activity
            android:name=".ui.favorite.FavoriteTimActivity"
            android:parentActivityName=".ui.Dashboard" />
        <activity
            android:name=".ui.HomeActivity"
            android:parentActivityName=".ui.Dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.nextprev.NextPrevActivity" />
        <activity android:name=".ui.nextprev.PrevActivity" />
        <activity android:name=".ui.tim.TimActivity" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:parentActivityName=".ui.Dashboard" />
        <activity
            android:name=".ui.search.SearchTimActivity"
            android:parentActivityName=".ui.Dashboard" />
        <activity android:name=".ui.detail.DetailAllActivity" />
        <activity
            android:name=".ui.detail.DetailActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.MainActivity" />
    </application>

</manifest>